
module nagiosreadcollectdrrd 1.0;

require {
	type nagios_t;
	type var_lib_t;
	class file { read getattr open };
}

#============= nagios_t ==============
allow nagios_t var_lib_t:file { read getattr open };
